.Calculadora h2, .Calculadora .subtitle, .Calculadora form{
  border: 1px solid black;
}

.Calculadora {
  text-align: center;
  width: 400px;
}
.Calculadora h2{
  text-transform: uppercase;
  background-color: #229ba7;
  color: white;
}
.Calculadora .subtitle {
  background-color: rgb(21, 174, 179);
  color: #ffffff;
}

.Calculadora form {
  background-color: rgb(123, 232, 216);
}
